{% extends "base.html" %}

{% block title %}{% endblock title %}

{% block extrahead %}

{% load compress %}

{% compress css %}<link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}aaretur/base.less" />{% endcompress %}
{% endblock extrahead %}

{% block bodyclass %}{% endblock bodyclass %}

{% block body %}
<script id="deltager-list-template" type="template">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Navn</th>
        <th class="action-col">&nbsp;</th>
      </tr>
    </thead>
    <tbody class="deltagere-list">
    </tbody>
  </table>
                      <a href="#" class="btn ok btn-primary add_deltager">Legg til deltager</a>

</script>
<script id="deltager-template" type="template">
<td><%= navn %></td>
<td class="action-col center-col">
<small class="pull-right">
<i class="edit_deltager glyphicon glyphicon-edit" title="Endre deltager"></i>
<i class="remove_deltager glyphicon glyphicon-remove" title="Fjern deltager"></i>
</small>
</td>
</script>
<script id="app-template" type="template">
    <div class="container">
        <div class="row">

            <div class="col-md-9">
            <h1>App</h1>            
                <div class="deltagere">
                </div>
            </div>
            
            <div class="col-md-3">
            <p>Side</p>
            </div>
            
        </div>
    </div>
</script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}moment.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}underscore-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}backbone-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}backbone-forms/backbone-forms.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}backbone-forms/editors/list.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}backbone-forms/templates/bootstrap3.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}backbone.bootstrap-modal.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}app.js"></script>

{% endblock body %}
